# Environnements virtuels
.venv/
venv/
env/

# Fichiers Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de modèle
*.joblib
*.pkl
*.h5

# Fichiers de configuration IDE
.idea/
.vscode/

# Fichiers de build
build/
dist/
*.egg-info/
